@import url("https://fonts.googleapis.com/css?family=Montserrat");

.form-container {
  padding: 5rem 0rem 5rem 0rem
}

.completeBtn {
  height: 50px;
  width: 250px;
  padding: 10px 15px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.note {
  margin-top: 15rem
}