@import url('https://fonts.googleapis.com/css?family=Montserrat');

#completionForm {
    position: relative;
    margin: 200px;
}

.completionButton{
    background-color: #fff;
    display: block;
    width: 500px;
    height: 100px;
    border: 0px;
    margin: 10;
  }

// codepen formatting
.form {
  max-width: 800px;
  margin: auto;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

.completeBtn {
  height: 50px;
  width: 250px;
  padding: 10px 15px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;

}

.completionBtnGroup {
  margin-left: -10%;
}