@import url('https://fonts.googleapis.com/css?family=Montserrat');

.App {
  text-align: center;
}

body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: 'Montserrat', sans-serif;
}

ul.header {
  background-color: #111;
  padding: 0;
}

ul.header li {
  display: inline; /* display links in one line horizontally */
}

ul.header li a {
  color: gray;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

ul.header li a:hover {
  text-decoration: underline;
}

ul.header button {
  position: absolute;
  right: 5%;
  margin: 10px;
}

.content {
  padding: 20px;
}