 .register-input {
   width: 75%;
   margin: auto;
   margin-bottom: 10px;
 }
 
 .form-validation {
  color: red;
 }
 
 .card {
   width: 500px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
 }
 

/* for mobile screens */
@media only screen and (max-width: 600px) {
 .card {
  width: 400px;
 }
 .register-input {
  width: 85%;
 }
}

.card-contents{
   margin: 5%;
 }

 .register-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 }